@inherits CascadingChildBase

<h4 style="@ChildStyle; @ChildBorderStyle">Blazor cascading child - @Counter</h4>
<br />
<div>
    <p>Dans le premier cas le composant child sait quelle propriété est liée à quel paramètre grâce à l'attribut (Name ="") </p>
</div>
<hr />
@*<CascadingGrandChild></CascadingGrandChild>*@