@inherits CascadingGrandChildBase

<h4 style="@GrandChildStyle; @GrandChildBorderStyle">Blazor cascading grand-child - @Counter</h4>
<br/>
<div>
    <p>
        Dans le deuxième cas le composant grand-child récupère les deux propriétés qui sont passées en cascade depuis le composant parent et qui sont toutes les deux de type string<br />
        N'ayant pas de précision, la valeur passée aux paramètres du composant enfant est la valeur la plus "proche" à savoir ici celle sur la bordure
    </p>
</div>